<div id='container'>
  <div ng-controller='searchBarController'>
    <form name='usernameEnty'>
      <input type='text' ng-model='username'>
      <button ng-click='submitUsername(username)'>Search for {{username}}</button>
    </form>
    <div name='followInfo' ng-controller='followController'>
      <h3 ng-model='username'>{{username}}</h3>
      <p id='following' ng-model='following'>Following: {{following}}</p>
      <p id='followers' ng-model='followers'>Followers: {{followers}}</p>
      <p id='followRatio' ng-model='followRatio'>Ratio: {{followRatio}}</p>
    </div>
    <table name='previousSearch' ng-controller='previousSearchController'>
      <td>{{username}}</td>
    </table>

  </div>
</div>