<div id='container' class='.container'>
  <div ng-controller='searchBarController'>
    <form name='usernameEnty'>
      <input type='text' ng-model='username'>
      <button ng-click='submitUsername(username)'>Search for {{username}}</button>
    </form>
    <div name='followInfo' ng-controller='followController'>
      <h3 ng-model='username'>{{username}}</h3>
      <p id='following' ng-model='following'>Following: {{following}}</p>
      <p id='followers' ng-model='followers'>Followers: {{followers}}</p>
      <p id='followRatio' ng-model='followRatio'>Ratio: {{followRatio}}</p>
    </div>
    <table name='previousSearch' ng-controller='previousSearchController' class='table table-inverse'>
      <thead>
      <tr>
        <th>Twitter Handle</th>
        <th>Following</th>
        <th>Followers</th>
        <th>Follow Ratio</th>
        <th>Bot or Not?</th>
      </tr>
      </thead>
      <tbody ng-repeat='user in data.slice().reverse()'>
      <td title='name' class='.col-md-4'>{{user.username}}</td>
      <td title='following' class='.col-md-4'>{{user.followingCount}}</td>
      <td title='followers' class='.col-md-4'>{{user.followerCount}}</td>
      <td title='followRatio' class='.col-md-4'>{{user.followRatio.toFixed(2)}}</td>
      <td title='botOrNot'>{{user.bot}}</td>
      </tbody>
    </table>

  </div>
</div>